@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7)) no-repeat fixed;
  background: linear-gradient(#af67e9, #6565e7) no-repeat fixed;
}

.faq-accordion-container {
  margin: 11rem auto 0px auto;
  padding: 0rem 1.5rem;
  width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.faq-accordion-container__desktop__images, .faq-accordion-container__block {
  display: none;
}
.faq-accordion-container__mobile__images {
  position: absolute;
  background: url("../images/bg-pattern-mobile.svg") center bottom no-repeat;
  background-size: contain;
  top: -115px;
}
.faq-accordion-container__mobile__images__computer {
  margin-left: -2rem;
  margin-bottom: 0.7rem;
  width: 280px;
}

.faq-accordion-container__info {
  background: #fff;
  border-radius: 25px;
  padding: 8rem 2rem 3rem;
  color: #4a4b5e;
  margin-bottom: 1rem;
}
.faq-accordion-container__info h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}
.faq-accordion-container__info h2 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.faq-accordion-container__info h2:hover {
  cursor: pointer;
  color: #f47c57;
}
.faq-accordion-container__info p {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: #787887;
  font-size: 0.8rem;
  line-height: 1.6;
  padding: 0.6rem 0;
  display: none;
}
.faq-accordion-container__info img {
  width: 8px;
  height: 8px;
}
.faq-accordion-container__info__details {
  border-bottom: 1px solid #e7e7e9;
  padding-bottom: 1rem;
}
.faq-accordion-container__info__details__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

.show-answer h2 {
  font-weight: 700;
}
.show-answer p {
  display: block;
}
.show-answer img {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.attribution {
  font-size: 1rem;
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: #e7e7e9;
}

.attribution a {
  cursor: pointer;
  color: #f47c57;
}

@media (min-width: 1200px) {
  .faq-accordion-container {
    margin: 10rem auto 0rem auto;
    padding: 0;
    width: 900px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .faq-accordion-container__mobile__images {
    display: none;
  }
  .faq-accordion-container__block {
    display: block;
    position: absolute;
    top: 300px;
    right: 810px;
    z-index: 999;
  }
  .faq-accordion-container__desktop__images {
    display: block;
    position: absolute;
    background: url("../images/bg-pattern-desktop.svg") no-repeat;
    background-position: -475px -150px;
    background-size: 100%, 200%;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .faq-accordion-container__desktop__images__computer {
    position: relative;
    right: 100px;
    top: 150px;
    width: 525px;
  }

  .faq-accordion-container__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 5rem auto;
    padding: 4rem 4rem 4rem 29rem;
    color: #4a4b5e;
  }
  .faq-accordion-container__info__details {
    z-index: 500;
  }
  .faq-accordion-container__info h1 {
    text-align: left;
    font-size: 2.5rem;
  }
  .faq-accordion-container__info h2 {
    font-size: 1.1rem;
  }
  .faq-accordion-container__info p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */